.homePage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #0E1621;

  .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    background: #0E1621;
    position: relative;

    .left {
      flex: 0 0 auto;
      background: rgba(255, 255, 255, 0.02);
      border-right: 1px solid rgba(255, 255, 255, 0.08);
    }

    .center {
      flex: 1 1 auto;
      background: #0E1621;
      position: relative;
    }

    .right {
      flex: 0 0 auto;
      background: rgba(255, 255, 255, 0.02);
      border-left: 1px solid rgba(255, 255, 255, 0.08);
    }
  }
}
